[Unit]
Description=Run {{ restic_timer_description | default(restic_job_name) }}

[Timer]
OnCalendar={{ restic_policy.frequency }}
Unit={{ restic_systemd_unit_naming_scheme }}.service

[Install]
WantedBy=timers.target
